
<mat-progress-bar *ngIf="timeExec" mode="indeterminate"></mat-progress-bar>

<div class="nav">
  <div class="logo"><img src="../../../assets/img/f33ders.svg" alt=""></div>
  <div class="menu-links">
    <ul>
      <li><a class="textLink" routerLink="/">Home</a></li>
      <li><a class="textLink" routerLink="/champions">Champion</a></li>
      <li><a class="textLink" routerLink="/mentions">A propos</a></li>
    </ul>
  </div>
  <form [formGroup]="getPlayerForm" (ngSubmit)="submitGetPlayerForm()" class="search">
    <div *ngIf="!summStorage" class="search-box">
      <button [disabled]="submitted == true" class="btn-search"><i class="fa fa-search"></i></button>
      <input formControlName="username" type="text" class="input-search" placeholder="Nom du joueur...">
    </div>
  </form>
  <div class="">
    <label for="profile2" class="profile-dropdown">
      <input type="checkbox" id="profile2">
      <img src="../../../assets/img/avatarProfil.svg">
      <ul *ngIf="isLogged">
        <li><a routerLink="/profile"><i class="mdi mdi-account"></i>Account</a></li>
        <li *ngIf="summoner">
          <a routerLink="/player"><i class="mdi mdi-logout"></i>Player</a>
        </li>
        <li><a href="/" (click)="logout()"><i class="mdi mdi-logout"></i>Logout</a></li>
      </ul>
      <ul *ngIf="!isLogged">
        <li><a routerLink="/login"><i class="mdi mdi-account"></i>Login</a></li>
        <li><a routerLink="/register"><i class="mdi mdi-account"></i>Register</a></li>
      </ul>
    </label>
  </div>
</div>

<hr class="border-bottom">
