<div class="navbar">

  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a routerLink="/"><li>Home</li></a>
        <a routerLink="/champions"><li>Champions</li></a>
        <a routerLink="/contact"><li>Contact</li></a>
      </ul>
    </div>

  </nav>

  <a routerLink="/">
  <div class="logo-header"></div>
  </a>
  <div class="dropdownr">
    <img src="https://randomuser.me/api/portraits/women/74.jpg" class="image"/>
    <div class="dropdown-content">
      <a routerLink="/profile">Mon compte</a>
      <a href="#">Déconnection</a>
    </div>
  </div>
</div>
