<div class="navbar">

  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Champions</li></a>
        <a href="#"><li>Info</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
  </nav>

  <div class="logo-header"></div>

  <div class="dropdownr">
    <img src="https://randomuser.me/api/portraits/women/74.jpg" class="image"/>
    <div class="dropdown-content">
      <a href="#">Mon compte</a>
      <a href="#">Déconnection</a>
    </div>
  </div>
</div>
