<div class="wraper">
  <div class="background"></div>

  <app-header></app-header>
  <div class="pdgnLandR">
    <div class="sectionOne">
      <div class="infosProfile">
        <div class="imgProfile">
          <img class="imageProfile" src="../../../assets/img/avatarProfil.svg" alt="">
        </div>
        <div>
          <h2 class="nameUser">{{user.userpseudo}}</h2>
          <p class="emailUser">{{user.email}}</p>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <h2 style="font-weight: lighter">Modifier vos informations</h2>
    </div>
  </div>
</div>




