<app-header></app-header>

<div class="wraper">
  <div class="sectionOne">
    <div class="infosProfile">
      <div class="imgProfile">
        <img class="imageProfile" src="https://randomuser.me/api/portraits/women/74.jpg" alt="">
      </div>
      <div>
        <h2 class="nameUser">Lori Allen</h2>
        <p class="emailUser">lori.allen@example.com</p>
      </div>
    </div>
    <div class="btnEditProfile">
      <a class="form-control edit">Modifier Profile</a>
    </div>
  </div>

  <div class="statsDFSB">
    <div class="statsOneSection">
      <div>
        <h2 class="titleStats">Mes Stats</h2>
        <div class="statsContent">
          <div class="statsRang" style="">
            <div  >
              <img src="https://lolg-cdn.porofessor.gg/img/league-icons-v2/160/6-4.png" alt="">
              <p class="textRang">Diamant IV</p>
            </div>
            <div class="statsGamer">
              <p class="userNameUser">Riot: loriA</p>
              <p class="infoUser">Niveau 412 - #6,166 Séraphine</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="statsTab">
          <div class="tabs effect-1">
            <!-- tab-title -->
            <input type="radio" id="tab-1" name="tab-effect-1" checked="checked">
            <span>Classées</span>

            <input type="radio" id="tab-2" name="tab-effect-1">
            <span>Solo</span>

            <input type="radio" id="tab-3" name="tab-effect-1">
            <span>Flex</span>

            <input type="radio" id="tab-4" name="tab-effect-1">
            <span>Tout</span>

            <!-- tab-content -->
            <div class="tab-content">
              <section id="tab-item-1">
                <div class="stats">
                  <div class="textCenterStats">
                    <p class="statsNumber">562</p>
                    <p class="statsTitle">Jouées</p>
                  </div>
                  <div class="textCenterStats">
                    <p class="statsNumber">51.6 %</p>
                    <p class="statsTitle">% victoires</p>
                  </div>
                </div>

              </section>
              <section id="tab-item-2">
                <div class="stats">
                  <div class="textCenterStats">
                    <p class="statsNumber">518</p>
                    <p class="statsTitle">Jouées</p>
                  </div>
                  <div class="textCenterStats">
                    <p class="statsNumber">51.9 %</p>
                    <p class="statsTitle">% victoires</p>
                  </div>
                </div>
              </section>

              <section id="tab-item-3">
                <div class="stats">
                  <div class="textCenterStats">
                    <p class="statsNumber">44</p>
                    <p class="statsTitle">Jouées</p>
                  </div>
                  <div class="textCenterStats">
                    <p class="statsNumber">47.7 %</p>
                    <p class="statsTitle">% victoires</p>
                  </div>
                </div>
              </section>

              <section id="tab-item-4">
                <div class="stats">
                  <div class="textCenterStats">
                    <p class="statsNumber">944</p>
                    <p class="statsTitle">Jouées</p>
                  </div>
                  <div class="textCenterStats">
                    <p class="statsNumber">51.6 %</p>
                    <p class="statsTitle">% victoires</p>
                  </div>
                </div>

              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="statsTwoSection">
      <h2 class="titleStats">Historique Match</h2>

      <div class="mBTable">
        <table>
          <tbody>
          <tr>
            <td style="background-color: #a3cfec">
              <img src="https://lolg-cdn.porofessor.gg/img/champion-icons/11.20/64/40.png">
            </td>
            <td class="statsMatch" style="background-color: #a3cfec">
              <p>Victoire<br>ARAM<br>14min 1s</p>
            </td>
            <td  style="background-color: #a3cfec">
              <div class="imgObjets">
                <img src="https://cdn.championcounter.com/images/items/4628-horizonfocus.png?v=1619884123417">
                <img src="https://cdn.championcounter.com/images/items/6655-ludenstempest.png?v=1619884125497">
                <img src="https://cdn.championcounter.com/images/items/3020-sorcerersshoes.png?v=1619884113611">
                <img src="https://cdn.championcounter.com/images/items/2052-porosnax.png?v=1603870683000">
              </div>
            </td>
            <td style="background-color: #a3cfec; font-weight: 700;">Autres Joueurs</td>
          </tr>
          <tr>
            <td style="background-color: #a3cfec"><img src="https://lolg-cdn.porofessor.gg/img/champion-icons/11.20/64/40.png"> </td>
            <td class="statsMatch" style="background-color: #a3cfec">
              <p>Victoire<br>ARAM<br>14min 1s</p>
            </td>
            <td  style="background-color: #a3cfec">
              <div class="imgObjets">
                <img src="https://cdn.championcounter.com/images/items/4628-horizonfocus.png?v=1619884123417">
                <img src="https://cdn.championcounter.com/images/items/6655-ludenstempest.png?v=1619884125497">
                <img src="https://cdn.championcounter.com/images/items/3020-sorcerersshoes.png?v=1619884113611">
                <img src="https://cdn.championcounter.com/images/items/2052-porosnax.png?v=1603870683000">
              </div>
            </td>
            <td style="background-color: #a3cfec; font-weight: 700;">Autres Joueurs</td>
          </tr>
          <tr style="background-color: #e2b6b3">
            <td style="background-color: #e2b6b3"><img src="https://lolg-cdn.porofessor.gg/img/champion-icons/11.20/64/40.png"> </td>
            <td  class="statsMatch" style="background-color: #e2b6b3">
              <p>Défaite<br>ARAM<br>14min 1s</p>
            </td>
            <td  style="background-color: #e2b6b3">
              <div class="imgObjets">
                <img src="https://cdn.championcounter.com/images/items/4628-horizonfocus.png?v=1619884123417">
                <img src="https://cdn.championcounter.com/images/items/6655-ludenstempest.png?v=1619884125497">
                <img src="https://cdn.championcounter.com/images/items/3020-sorcerersshoes.png?v=1619884113611">
                <img src="https://cdn.championcounter.com/images/items/2052-porosnax.png?v=1603870683000">
              </div>
            </td>
            <td style="background-color: #e2b6b3; font-weight: 700;">Autres Joueurs</td>
          </tr>
          <tr style="background-color: #e2b6b3">
            <td style="background-color: #e2b6b3" ><img src="https://lolg-cdn.porofessor.gg/img/champion-icons/11.20/64/40.png"> </td>
            <td class="statsMatch" style="background-color: #e2b6b3">
              <p>Défaite<br>ARAM<br>14min 1s</p>
            </td>
            <td  style="background-color: #e2b6b3">
              <div class="imgObjets">
                <img src="https://cdn.championcounter.com/images/items/4628-horizonfocus.png?v=1619884123417">
                <img src="https://cdn.championcounter.com/images/items/6655-ludenstempest.png?v=1619884125497">
                <img src="https://cdn.championcounter.com/images/items/3020-sorcerersshoes.png?v=1619884113611">
                <img src="https://cdn.championcounter.com/images/items/2052-porosnax.png?v=1603870683000">
              </div>
            </td>
            <td style="background-color: #e2b6b3;font-weight: 700;">Autres Joueurs</td>
          </tr>
          <tr>
            <td style="background-color: #e2b6b3"><img src="https://lolg-cdn.porofessor.gg/img/champion-icons/11.20/64/40.png"> </td>
            <td class="statsMatch" style="background-color: #e2b6b3">
              <p>Défaite<br>ARAM<br>14min 1s</p>
            </td>
            <td  style="background-color: #e2b6b3">
              <div class="imgObjets">
                <img src="https://cdn.championcounter.com/images/items/4628-horizonfocus.png?v=1619884123417">
                <img src="https://cdn.championcounter.com/images/items/6655-ludenstempest.png?v=1619884125497">
                <img src="https://cdn.championcounter.com/images/items/3020-sorcerersshoes.png?v=1619884113611">
                <img src="https://cdn.championcounter.com/images/items/2052-porosnax.png?v=1603870683000">
              </div>
            </td>
            <td style="background-color: #e2b6b3; font-weight: 700;">Autres Joueurs</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>







</div>

