<div class="wraper">
  <div class="background"></div>

  <app-header></app-header>
  <div class="pdgnLandR">
    <div class="sectionOne">
      <div class="infosProfile">
        <div class="imgProfile">
          <img class="imageProfile" src="../../../assets/img/avatarProfil.svg" alt="">
        </div>
        <div>
          <h2 class="nameUser">{{user.userpseudo}}</h2>
          <p class="emailUser">{{user.email}}</p>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <h2 style="font-weight: lighter">Modifier vos informations</h2>
    </div>
    <div class="panelForm">
      <div class="formMDP">
        <form [formGroup]="updatePassword" (ngSubmit)="submitPasswordForm()">
          <div class="form-row">
            <input type="password" id="form-last-password" class="form-textbox textbox" formControlName="oldPassword" required>
            <label for="form-last-password" class="form-label label-text">Password Actuel</label>
          </div>
          <div class="form-row">
            <input type="password" id="form-new-password" class="form-textbox textbox" formControlName="newPassword" required>
            <label for="form-new-password" class="form-label label-text">Nouveau Password</label>
          </div>
          <div class="error" *ngIf="submitted && fPassword.newPassword.errors && fPassword.newPassword.errors.required">Merci de
            renseigner
            votre mot de passe.
          </div>
          <div class="error"
               *ngIf="updatePassword.get('password')?.value && fPassword.newPassword.errors && fPassword.newPassword.errors.pattern">
            Doit contenir au moins, 8 caractères, une lettre majuscule, un chiffre et un caractère spécial.
          </div>
          <div class="form-row">
            <input type="password" id="form-confirm-new-password" formControlName="newPasswordVerif" class="form-textbox textbox" required>
            <label for="form-confirm-new-password" class="form-label label-text">Confirmer noveau Password</label>
          </div>
          <div class="error" *ngIf="submitted && fPassword.newPasswordVerif.errors && fPassword.newPasswordVerif.errors.required">Merci de
            renseigner
            votre mot de passe.
          </div>
          <div class="error"
               *ngIf="updatePassword.get('password')?.value && fPassword.newPasswordVerif.errors && fPassword.newPasswordVerif.errors.pattern">
            Doit contenir au moins, 8 caractères, une lettre majuscule, un chiffre et un caractère spécial.
          </div>
          <div class="form-row">
            <button type="submit" [disabled]="submitted" class="btnForm">Modifier</button>
          </div>
        </form>
      </div>
      <form [formGroup]="updateInformations" (ngSubmit)="submitInformationsForm()">
        <div class="form-user">
          <div class="form-row">
            <input type="text" id="form-user" class="form-textbox textbox" formControlName="username" required>
            <label for="form-user" class="form-label label-text">Nom d'utilisateur</label>
          </div>
          <div *ngIf="submitted && fInformations.username.errors">
            <div class="error" *ngIf="fInformations.username.errors.required">Merci de renseigner votre nom d'utilisateur.</div>
          </div>
          <div class="form-row">
            <button type="submit" [disabled]="submitted" class="btnForm">Modifier</button>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>




