@import "~bootstrap-icons/font/bootstrap-icons.css";

.table-text {
  color: white;
}

.action:hover {
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: #1F2326;
}

body{
  background: whitesmoke;
}
