.overlay{
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.jarallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mask-overlay{
  background-color: #1f232666;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container-sm {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  border-radius: 5px;
  background-color: #3D3D3E;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #FFFFFF;
}

.login-input {
  background-color: #C4C4C5;
  border: 2px solid #FFFFFF;
}

.login {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 20px;
}

.submit-button {
  padding: 15px;
}

.forgot-password {
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.modal-header {
  background-color: #3D3D3E;
  color: #FFFFFF;
}

.sendmail-button {
  background-color: #FFFFFF;
  color: #3D3D3E;
  font-weight: bold;
  border: 2px solid #0a0a0a;
}
