h2 {
  color: white;
  margin: 0;
}

.imgContainer {
  text-align: center;
}

:host ::ng-deep .p-datatable-wrapper {
  border-radius: 25px;
}

.imgItem:hover {
  cursor: pointer;
}

.mBTable{
  margin-bottom: 90px;
}
.wraper {
  margin-top: 10vh;
  padding-right: 7%;
  padding-left: 7%;
}
.imgProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.imageProfile {
  width: 100%;
  border-radius: 50%;
}
.imgObjets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
.imgObjets img {
  margin-left: 10px;
}
.statsMatch p {
  text-align: center;
  color: #1F2326;
}
.infosProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  padding-right: 20px;
}
.nameUser {
  font-size: 1.8em;
}
.emailUser {
  font-size: 1.2em;
}
.form-control {
  background-color: #838383;
}
.edit {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  text-align: center;
  border: none;
}
.btnEditProfile {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.userNameUser {
  font-size: 1.2em;
  color: white;
  margin: 0;
}
.infoUser {
  font-size: 0.8em;
  color: white;
  margin: 0;
}
.titleStats {
  margin-top: 50px;
  text-align: center;
}
.ease {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.tabs {
  background: #fff;
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}
.tabs > input,
.tabs > span {
  width: 25%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
}
.tabs > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
}
.tabs > span {
  background: #f0f0f0;
  text-align: center;
  overflow: hidden;
}
.tabs > span i,
.tabs > span {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.tabs > input:hover + span {
  background: rgba(255, 255, 255, .1);
}
.tabs > input:checked + span {
  background: #fff;
}
.tabs > input:checked + span,
.tabs > input:hover + span {
  color: #3498DB;
}
#tab-1, #tab-1 + span {
  left: 0;
}
#tab-2, #tab-2 + span {
  left: 25%;
}
#tab-3, #tab-3 + span {
  left: 50%;
}
#tab-4, #tab-4 + span {
  left: 75%;
}
.tab-content {
  padding: 80px 20px 20px;
  width: 100%;
  min-height: 200px;
}
.tab-content section {
  width: 100%;
  display: none;
}
.tab-content section h1 {
  margin-top: 15px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}
#tab-1:checked ~ .tab-content #tab-item-1 {
  display: block;
}
#tab-2:checked ~ .tab-content #tab-item-2 {
  display: block;
}
#tab-3:checked ~ .tab-content #tab-item-3 {
  display: block;
}
#tab-4:checked ~ .tab-content #tab-item-4 {
  display: block;
}
#tab-5:checked ~ .tab-content #tab-item-5 {
  display: block;
}
.effect-1 > input:checked + span {
  background: #fff;
}
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.statsNumber {
  font-weight: bold;
  font-size: 1.2em;
}
.textCenterStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.statsTitle {
  font-size: 1.2em;
}
.statsTab {
  margin-top: 25px;
}
.statsRang {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.textRang {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.statsGamer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px auto;
}
tr:nth-of-type(odd) {
  background: #eee;
}
td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  background: #eee;
}
td img{
  width: 35px;
}
th {
  background: #3498db;
  color: white;
  font-weight: bold;
}
.statsDFSB{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.statsOneSection{
  width: 35%;
}
.statsTwoSection{
  width: 60%;
}
@media only screen and (max-width: 760px) and (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}
@media (min-height: 768px) {
  .infosProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    padding-right: 20px;
  }
  .statsDFSB{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .statsOneSection, .statsTwoSection{
    width: 100%;
  }
  .imgProfile {
    margin-right: 25px;
  }
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .statsRang {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .btnEditProfile {
    width: 100%;
  }
  .textRang {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  .statsTab {
    margin-top: 25px;
    width: 100%;
  }
  .statsContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs {
    margin-bottom: inherit;
  }
  .statsGamer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .statsRang {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .statsContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .statsTab {
    margin-top: 25px;
    width: 100%;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .edit {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: none;
  }
}
@media only screen and (min-width: 1024px){
  .statsDFSB{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .statsOneSection{
    width: 35%;
  }
  .statsTwoSection{
    width: 60%;
  }
}
