<app-header></app-header>
<div class="background"></div>

<div class="overlay">
  <div class="jarallax" videoLoop="true" data-jarallax-video="https://www.youtube.com/watch?v=O-onLmJzvTI">
  </div>
</div>
<div class="mask-overlay"></div>
<div class="wraper">
  <div class="infosProfile">
    <div class="imgProfile">
      <img class="imageProfile"
           src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon7.jpg?image=q_auto:best&v=1518361200"
           alt="">
    </div>
    <p style="font-size: 1.5em; font-weight: lighter" >{{summoner.player.username}}</p>
  </div>

</div>


<div class="container-xl">
  <div class="mBTable">
    <p-table [value]="match" dataKey="name" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Champion</th>
          <th pSortableColumn="price">Résultat</th>
          <th style="text-align: center" pSortableColumn="category">Items</th>
          <th pSortableColumn="rating">KDA</th>
          <th pSortableColumn="rating">Gold</th>
          <th pSortableColumn="rating">Creeps</th>
          <th pSortableColumn="see-more">Détails matchs</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-match let-expanded="expanded">
        <tr>
          <td>
            <div class="imgContainer" *ngFor="let player of match.game[0].teams">
              <img *ngIf="player.champ.informations.key == match.currentUserChampion"
                   src="{{player.champ.informations.imageUrl}}">
            </div>
          </td>
          <td>
            <div *ngFor="let player of match.game[0].teams">
              <div *ngIf="player.champ.informations.key == match.currentUserChampion">
                <p style="color: darkred" *ngIf="player.champ.informations.win == false">Défaite</p>
                <p style="color: green" *ngIf="player.champ.informations.win == true">Victoire</p>
              </div>
            </div>
          </td>
          <td class="imgItem">
            <div *ngFor="let player of match.game[0].teams">
              <div *ngIf="player.champ.informations.key == match.currentUserChampion">
                <div class="container">
                  <div class="row">
                    <div *ngFor="let it of player.Items">
                      <div *ngIf="it !== null">
                        <div *ngIf="it[0] !== 'Poro-Snax'" class="col">
                          <div *ngIf="it[0] !== 'Balise camouflee'">
                            <div *ngIf="it[0] !== 'Brouilleur oraculaire'">
                              <div *ngIf="it[0] !== 'Alteration divinatoire'">
                                <img style="text-align: center" src="{{it[3]}}" alt=""> <span>{{it[0]}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let player of match.game[0].teams">
              <div *ngIf="player.champ.informations.key == match.currentUserChampion">
                {{player.Player.Kills}}/{{player.Player.Deaths}}/{{player.Player.Assists}}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let player of match.game[0].teams">
              <div *ngIf="player.champ.informations.key == match.currentUserChampion">
                {{player.Player.goldEarned}}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let player of match.game[0].teams">
              <div *ngIf="player.champ.informations.key == match.currentUserChampion">
                <div style="text-align: center">
                  {{player.Player.totalMinionsKilled}} CS
                </div>
              </div>
            </div>
          </td>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="match" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-match>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table>
                <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Champions</th>
          <th pSortableColumn="customer">Items</th>
          <th pSortableColumn="date">KDA</th>
          <th pSortableColumn="amount">Gold</th>
          <th pSortableColumn="amount">Creeps</th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline">Victoire :</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == true">
                    <img src="{{player.champ.informations.imageUrl}}"><span style="font-weight: lighter; font-size: .8em"> {{player.champ.informations.championId}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline">Perdant :</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div  style="text-align: left" *ngIf="player.champ.informations.win == false">
                    <img src="{{player.champ.informations.imageUrl}}"><span style="font-weight: lighter; font-size: .8em"> {{player.champ.informations.championId}}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div>
              <span style="display: block">&NonBreakingSpace;</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == true">
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let it of player.Items">
                          <div *ngIf="it !== null">
                            <div *ngIf="it[0] !== 'Poro-Snax'" class="col">
                              <div *ngIf="it[0] !== 'Balise camouflee'">
                                <div *ngIf="it[0] !== 'Brouilleur oraculaire'">
                                  <div *ngIf="it[0] !== 'Alteration divinatoire'">
                                    <img style="text-align: center" src="{{it[3]}}" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <span style="display: block">&NonBreakingSpace;</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == false">
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let it of player.Items">
                          <div *ngIf="it !== null">
                            <div *ngIf="it[0] !== 'Poro-Snax'" class="col">
                              <div *ngIf="it[0] !== 'Balise camouflee'">
                                <div *ngIf="it[0] !== 'Brouilleur oraculaire'">
                                  <div *ngIf="it[0] !== 'Alteration divinatoire'">
                                    <img style="text-align: center" src="{{it[3]}}" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == true">
                    <div *ngIf="player.Player.Kills >= 5" style="width: 25px; height: 10px;"></div><span>{{player.Player.Kills}}/{{player.Player.Deaths}}/{{player.Player.Assists}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div  style="text-align: left" *ngIf="player.champ.informations.win == false">
                    <div style="width: 25px; height: 10px"></div><span>{{player.Player.Kills}}/{{player.Player.Deaths}}/{{player.Player.Assists}}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == true">
                    <div style="width: 25px; height: 10px;"></div><span>{{player.Player.goldEarned}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div  style="text-align: left" *ngIf="player.champ.informations.win == false">
                    <div style="width: 25px; height: 10px"></div><span>{{player.Player.goldEarned}}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div style="text-align: left" *ngIf="player.champ.informations.win == true">
                    <div style="width: 25px; height: 10px;"></div><span>{{player.Player.totalMinionsKilled}} CS</span>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bolder; display: inline; color: #EEEEEE">hide</span>
              <div class="imgContainer" *ngFor="let player of match.game[0].teams">
                <div *ngIf="player.champ.informations.key !== match.currentUserChampion">
                  <div  style="text-align: left" *ngIf="player.champ.informations.win == false">
                    <div style="width: 25px; height: 10px"></div><span>{{player.Player.totalMinionsKilled}} CS</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</div>

