<div class="container-sm">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form ">

    <div class="mb-3">
      <label for="username" class="form-label">Nom utilisateur</label>
      <input type="text" id="username" name="username" formControlName="username" class="form-control register-input">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" id="email" name="email" formControlName="email" class="form-control register-input">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" id="password" name="password" formControlName="password"
             class="form-control register-input">
    </div>

    <div class="mb-3 form-label-register">
      <button type="submit" class="form-control register">Créer un compte</button>
    </div>


  </form>
  <div class="mb-3 form-label-redirect-login">
    <button type="submit" class="form-control redirect-login" routerLink="/login">Se connecter</button>
  </div>
</div>

