<app-header></app-header>

<div class="wraper">
  <div class="sectionOne">
    <div class="img">
      <img class="imgHeaderChampion" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Akali_0.jpg" alt="">
      <div class="imgGradiant"></div>
    </div>
    <div class="textNameChampion">
      <p class="nameOne">ASSASSIN REBELLE</p>
      <p class="nameTwo">AKALI</p>
      </div>
  </div>
  <div class="sectionTwo">
    <div>
      <video class="video" autoplay="autoplay" [muted]="'muted'" playsinline="" loop="loop"
             src="https://d28xe8vt774jo5.cloudfront.net/champion-abilities/0084/ability_0084_R1.webm">
        <source src="https://d28xe8vt774jo5.cloudfront.net/champion-abilities/0084/ability_0084_R1.webm"
                type="video/webm">
        <source src="https://d28xe8vt774jo5.cloudfront.net/champion-abilities/0084/ability_0084_R1.mp4"
                type="video/mp4">
      </video>
    </div>
    <div class="textChampionDesc">
      <p class="descChampion">Ayant abandonné l'Ordre Kinkou et le titre de Poing de l'ombre, Akali combat aujourd'hui
        seule, prête à devenir l'arme mortelle dont son peuple a besoin. Bien qu'elle n'oublie rien de tout ce que son
        maître Shen lui a enseigné, elle a juré de défendre Ionia contre ses ennemis, une élimination après l'autre.
        Akali tue sans faire de bruit, mais son message est fort et clair : craignez l'assassin sans maître.</p>
      <h3>Competences</h3>
      <div class="competencesChampion">
        <div class="legendComp">
          <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/passive/Akali_P.png" alt="">
          <p>MARQUE D'ASSASSIN</p>
        </div>
        <div class="legendComp">
          <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/AkaliQ.png" alt="">
          <p>VAGUE DE KUNAIS</p>
        </div>
        <div class="legendComp">
          <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/AkaliW.png" alt="">
          <p>LINCEUL NÉBULEUX</p>
        </div>
        <div class="legendComp">
          <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/AkaliE.png" alt="">
          <p>LANCER ACROBATIQUE</p>
        </div>
        <div class="legendComp">
          <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/AkaliR.png" alt="">
          <p>MAÎTRISE ABSOLUE</p>
        </div>

      </div>
    </div>
  </div>
</div>
