<body>
<div class="overlay first"></div>
<div class="overlay second"></div>
<div class="overlay third"></div>

<style>
  .typed-words::after {
    content: "";
    display: inline;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>


<div class="wrapper">

  <app-header></app-header>

  <div class="content">

    <div class="text">
      <p class="subtitle">Les Stats sont la</p>
      <h1 class="title">
        <span>F33ders <br> of Legends</span>
      </h1>
      <p id="factDisplay" class="typed-word desc"><span class="typed-element"> </span></p>
      <a routerLink="/champions" class="readmore">Tous les champions</a>
    </div>



    <div class="slider">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="sliders slide-1"></div>
          </div>
          <div class="carousel-item">
            <div class="sliders slide-2"></div>

          </div>
          <div class="carousel-item">
            <div class="sliders slide-3"></div>
          </div>
          <div class="carousel-item">
            <div class="sliders slide-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

