* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
  background: url("../../../assets/img/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #382d14;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.border-bottom {
  position: absolute;
  top: 60px;
  width: 0%;
  z-index: 1;
  border-color: rgba(255,255,255, .2);
  border-width: .5px;
}

.logo,
.menu-links,
.search,
.cart {
  position: absolute;
  padding: 10px;
}

.logo {
  width: 130px;
  padding: 5px 10px 5px 30px;
}

.menu-links {
  left: 100px;
  line-height: 1;
  margin-left: 30px;
}

.menu-links ul li {
  display: inline-block;
  padding: 10px;
  color: rgba(255,255,255, .5);
}

.search,
.cart {
  line-height: 1.5;
  font-size: 20px;
}

.search {
  right: 150px;
}

.cart {
  right: 50px;
}

.text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-25%, -30%);
  z-index: 1;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
}

.subtitle::before {
  display: inline-block;
  content: "";
  border: 1px solid #fff;
  width: 80px;
  margin: 0 10px 0 0;
  transform: translateY(-4px);
}

.title {
  font-size: 100px;
  text-transform: uppercase;
  width: 0%;
  overflow: hidden;
  white-space: nowrap
}

.desc {
  color: rgba(255,255,255, .5);
  margin-top: 30px;
  line-height: 2;
}

.readmore {
  display: inline-block;
  margin-top: 60px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: bolder;
}

.carousel-item{
  position: relative !important;
  height: 45vh;
}
.carousel{
  height: 45vh;
}

.slider {
  position: absolute;
  top: 50%;
  width: 32%;
  opacity: 0;
  right: 25px;
}

.sliders{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide-1{
  background-image: url("https://purepng.com/public/uploads/large/purepng.com-mecha-khazixsplashartchampionleague-of-legendsskinkhazix-331519927413zpva1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.slide-2{
  background-image: url("https://purepng.com/public/uploads/large/purepng.com-muay-thai-lee-sin-skinsplashartchampionleague-of-legendsskinleblanc-331519927749uesvv.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.slide-3{
  background-image: url("https://choualbox.com/Img/138809412829.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.slide-4{
  background-image: url("../../../assets/img/popy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.arrows {
  float: left;
}

.pages {
  float: right;
}

.pages span {
  font-size: 40px;
  font-weight: bolder;
  line-height: .8;
}

.arrows ul li {
  display: inline-block;
  background: #2f302f;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.cover-img{
  width: 35%;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translate(0%, -60%);
  z-index: -1;
}

.cover-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}

.champ-names{
  position: relative;
  width: 100%;
  height: 100%;
}

.champ-names p{
  position: absolute;
  width: 100%;
  left: 10px;
  top: 10px;
  font-weight: 700;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 9;
  background: #382d14;
}

.first {
  top: 0;
}

.second {
  top: 33.3%
}

.third {
  top: 66.6%;
}
.bottom-div{
  position: absolute;
  left: 15%;
  bottom: 0%;
  transform: translate(-15%, 0%);
}
.main-bottom{
  display: flex;
  align-items: center;
}
.bottom-child{
  width: 350px;
  height: 200px;
  background: url("../../../assets/img/block1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.bottom-content{
  padding: 0px 20px;
}
.bottom-content p{
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

@media(max-width: 1025px){
  .text {
    top: 20%;
    left: 25%;
    transform: translate(-25%, -20%);
  }
  .title {font-size: 75px;}
  .cover-img {
    width: 60%;
    top: 60%;
    transform: translate(0%, -60%);
  }
  .slider {
    width: 54%;
    top: 73%;
  }
}

@media(max-width: 767px){
  .nav{height: 55px;}
  .logo {
    padding: 5px 10px 5px 15px;
  }
  .border-bottom{top: 55px;}
  .menu-links {left: 50px;}
  .search {right: 50px;}
  .cart{right: 10px;}
  .text {
    top: 15%;
    left: 25%;
    transform: translate(-25%, -15%);
  }
  .subtitle {font-size: 10px;}
  .title {font-size: 30px;}
  .desc {
    margin-top: 0px;
    font-size: 13px;
  }
  .readmore {
    margin-top: 5px;
    font-size: 14px;
  }
  .cover-img{
    width: 300px;
    height: 200px;
    top: 62%;
    transform: translate(0%, -62%);
  }
  .cover-img img {object-fit: cover;}
  .slider{
    top: 55%;
    width: 80%;
  }
  .sliders{
    background-size: contain;
    background-position: bottom;
  }
  .arrows ul li {padding: 6px;}
  .pages span {font-size: 30px;}
  .champ-names p {left: -40px;}
  .bottom-div {
    left: 0%;
    transform: translate(0%, 0%);
  }
  .bottom-child {
    width: 170px;
    height: 100px;
  }
  .bottom-content {padding: 0px 15px;}
  .bottom-content p {font-size: 12px;}
}
