<body>
<div class="overlay first"></div>
<div class="overlay second"></div>
<div class="overlay third"></div>

<div class="wrapper">

  <div class="nav">
    <div class="logo"><img src="../../../assets/img/f33ders.svg" alt=""></div>
    <div class="menu-links">
      <ul>
        <li>Home</li>
        <li>Champion</li>
        <li>A propos</li>
      </ul>
    </div>
    <div class="search">
      <div class="search-box">
        <button class="btn-search"><i class="fa fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Nom du joueur...">
      </div>
    </div>
  </div>

  <hr class="border-bottom">

  <div class="content">

    <div class="text">
      <p class="subtitle">Les Stats sont la</p>
      <h1 class="title">
        <span>F33ders <br> of Legends</span>
      </h1>
      <p class="desc">Lorem ipsum dolor si amet<br> Legend never die.</p>
      <a href="#" class="readmore">Scroll For More</a>
    </div>

    <div class="cover-img">
      <div class="champ-names">
        <p>Champion: Poppy</p>
        <img src="../../../assets/img/popy.png"/>
      </div>
    </div>

    <div class="slider">
      <div class="arrows">
        <ul>
          <li><i class="fa fa-arrow-left"></i></li>
          <li><i class="fa fa-arrow-right"></i></li>
        </ul>
      </div>
      <div class="pages"><span>01</span>/04</div>
    </div>

  </div>

</div>
</body>
