<div class="background"></div>
<div class="wrapper">
  <app-header></app-header>
  <div class="wraper">
    <div class="header">
      <h1>Tous les champions</h1>
    </div>
    <div class="gridChampions">
      <div *ngFor="let champ of champions">
        <a routerLink="/champion-details/{{champ.championId}}" class="img-wrapper" href="">
          <img class="inner-img"
               src="{{champ.imageUrl}}"
               alt="">
          <span class="test">{{champ.name}}</span>
        </a>
      </div>
    </div>
  </div>

</div>
