/* You can add global styles to this file, and also import other style files */
body{
  min-height: auto;
}

.container-error {
  height: 15px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

